---
yaml-files:
  - '*.yamllint'
  - '*.yaml'
  - '*.yml'

rules:
  braces:
    forbid: "non-empty"
  brackets:
    forbid: "non-empty"
  colons: "enable"
  commas: "enable"
  comments:
    level: "warning"
  comments-indentation: "disable"
  document-end: "disable"
  document-start: "disable"
  empty-lines: "disable"
  empty-values: "disable"
  hyphens: "enable"
  indentation: "enable"
  key-duplicates: "enable"
  key-ordering: "disable"
  line-length: "disable"
  new-line-at-end-of-file: "enable"
  new-lines: "enable"
  octal-values: "disable"
  quoted-strings: "enable"
  trailing-spaces: "enable"
  truthy: "disable"
